.car-filter {
    background-color: var(--clr2bg);
    padding-block: 1em;
}

.car-filter>h2 {
    margin-top: 0;
}

.car-filter form {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 180px));
    gap: .5em;
    justify-content: center;
}

.car-filter form label {
    justify-self: start;
}

.car-filter form input {
    justify-self: end;
}

.car-filter form button {
    margin-inline: 0;
    grid-column: 1 / 3;
    justify-self: center;

}