.book-edit form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 1em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.book-edit form label {
    justify-self: start;
    margin-left: 3em;
}

.book-edit form input {
    justify-self: start;
}

.book-edit form section {
    margin-left: 2.5em;
}